@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('Images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: hsl(257, 40%, 49%);
}

#header{
    margin: 1.5rem 0 0 2rem;
}

#contents{
    position: relative;
    top: 1.3rem;
    border: 1px solid red;
    display: flex;
}

#contents img{
    margin: 1rem 0 0 2rem;
}

#contents h1{
    position: absolute;
    top: 4rem;
    width: 37%;
    right: 1rem;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-family: 'POPPINS', sans-serif;
    font-size: 2.5em;
}

#contents p{
    color:hsl(0, 0%, 100%);
    position: absolute;
    top: 0;
}
