@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('Images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: hsl(257, 40%, 49%);
}

#header{
    margin: 1.5rem 0 0 2rem;
}

#contents{
    position: relative;
    top: 1.3rem;
    display: flex;
}

#contents img{
    margin: 1rem 0 0 2rem;
}

#contents h1{
    position: absolute;
    top: 4rem;
    width: 37%;
    right: 6rem;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-family: 'POPPINS', sans-serif;
    font-size: 2.5em;
}

#contents p{
    color:hsl(0, 0%, 100%);
    position: absolute;
    width: 35%;
    top: 12rem;
    right: 7rem;
}

#contents button{
    position: absolute;
    width: 13%;
    height: 3rem;
    color: hsl(257, 40%, 49%);
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 3rem;
    top: 18rem;
    right: 25rem;
    box-shadow: 0 0.4rem 1rem hsla(0, 0%, 0%, 0.6);
    cursor: pointer;
}

#contents button:hover{
    background-color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
    color:hsl(0, 0%, 100%);
}

ul{
    list-style: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

ul li{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    width: 2.6rem;
    height: 2.6rem;
    position: relative;
    left: 33rem;
    margin: 0 0 0 1rem;
}

ul li a{
    position: absolute;
    bottom: 0.1rem;
}

ul li:hover{
    border: 1px solid hsl(302, 90%, 47%);
}

ul li a:hover{
    filter: invert(30%) sepia(87%) saturate(7125%) hue-rotate(293deg) brightness(101%) contrast(109%);
}



@media (min-width: 320px) and (max-width: 374px){
    body{
        background-position: -40rem 0;
        width: 100%;
        height: 53rem;
    }

    #header img{
        width: 40%;
    }

    #contents{
        width: 100%;
    }

    #contents img{
        margin: 2rem 1rem 0 1.5rem;
        width: 90%;
    }

    #contents h1{
        width: 80%;
        position: absolute;
        text-align: center;
        top: 20rem;
        left: 2rem;
        line-height: 2rem;
        font-size: 1.5rem;
    }

    #contents p{
        width: 80%;
        font-size: 1rem;
        text-align: center;
        left: 2.4rem;
        top: 26rem;
        line-height: 1.4rem;
    }

    #contents button{
        left: 5rem;
        top: 36rem;
        width: 55%;
    }

    ul{
        width: 100%;
        top: 27rem;
    }

    ul li{
        left: -0.5rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (min-width: 375px) and (max-width: 424px){
    body{
        background-position: -40rem 0;
        width: 100%;
        height: 53rem;
    }

    #header img{
        width: 40%;
    }

    #contents{
        width: 100%;
    }

    #contents img{
        margin: 2rem 1rem 0 1.5rem;
        width: 90%;
    }

    #contents h1{
        width: 70%;
        position: absolute;
        text-align: center;
        top: 22rem;
        left: 3.5rem;
        line-height: 2rem;
        font-size: 1.5rem;
    }

    #contents p{
        width: 70%;
        font-size: 1rem;
        text-align: center;
        left: 3.7rem;
        top: 28rem;
        line-height: 1.4rem;
    }

    #contents button{
        left: 6rem;
        top: 37rem;
        width: 55%;
    }

    ul{
        width: 100%;
        top: 25rem;
    }

    ul li{
        left: -0.4rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (min-width: 425px) and (max-width: 520px){
    body{
        background-position: -40rem 0;
        width: 100%;
        height: 64rem;
    }

    #header img{
        width: 40%;
    }

    #contents{
        width: 100%;
    }

    #contents img{
        margin: 2rem 1rem 0 1.5rem;
        width: 90%;
    }

    #contents h1{
        width: 70%;
        position: absolute;
        text-align: center;
        top: 27rem;
        left: 5rem;
        line-height: 2rem;
        font-size: 1.8rem;
    }

    #contents p{
        width: 70%;
        font-size: 1.2rem;
        text-align: center;
        left: 5rem;
        top: 33rem;
        line-height: 1.4rem;
    }

    #contents button{
        left: 10.5rem;
        top: 42rem;
        width: 35%;
    }

    ul{
        width: 100%;
        top: 26rem;
    }

    ul li{
        left: -0.4rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (min-width: 521px) and (max-width: 600px){
    body{
        background-position: -40rem 0;
        width: 100%;
        height: 64rem;
    }

    #header img{
        width: 40%;
    }

    #contents{
        width: 100%;
    }

    #contents img{
        margin: 2rem 1rem 0 1.5rem;
        width: 90%;
    }

    #contents h1{
        width: 60%;
        position: absolute;
        text-align: center;
        top: 32rem;
        left: 7rem;
        line-height: 2rem;
        font-size: 1.8rem;
    }

    #contents p{
        width: 60%;
        font-size: 1.2rem;
        text-align: center;
        left: 7.3rem;
        top: 38rem;
        line-height: 1.4rem;
    }

    #contents button{
        left: 12rem;
        top: 47rem;
        width: 35%;
    }

    ul{
        width: 100%;
        top: 28rem;
    }

    ul li{
        left: -0.4rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

